
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
    <title>Heart Healthy</title>
    <link rel="icon" href="~/Image/favicon.ico" />
    <link rel="stylesheet" href="~/stisla_admin_v1.0.0/dist/modules/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/stisla_admin_v1.0.0/dist/modules/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/stisla_admin_v1.0.0/dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/stisla_admin_v1.0.0/dist/modules/summernote/summernote-lite.css">
    <link rel="stylesheet" href="~/stisla_admin_v1.0.0/dist/modules/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/stisla_admin_v1.0.0/dist/css/demo.css">
    <link rel="stylesheet" href="~/stisla_admin_v1.0.0/dist/css/style.css">
    <link rel="stylesheet" href="~/Kendo/2018.1.117/styles/kendo.silver.min.css" />
    <link rel="stylesheet" href="~/Kendo/2018.1.117/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="~/Kendo/2018.1.117/styles/kendo.rtl.min.css" />
    <link rel="stylesheet" href="~/Kendo/2018.1.117/styles/kendo.mobile.all.min.css" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <script src="~/Kendo/2018.1.117/js/jquery.min.js"></script>
    <script src="~/Kendo/2018.1.117/js/kendo.all.min.js"></script>
    <script>document.addEventListener("DOMContentLoaded", function() {
            if (document.getElementById("myChart") != null) {
                var ctx = document.getElementById("myChart").getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                        datasets: [{
                            label: 'Statistics',
                            data: [460, 458, 330, 502, 430, 610, 488],
                            borderWidth: 2,
                            backgroundColor: 'rgb(0,70,134)',
                            borderColor: 'rgb(0,70,134)',
                            borderWidth: 2.5,
                            pointBackgroundColor: '#ffffff',
                            pointRadius: 4
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 150
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display: false
                                }
                            }]
                        },
                    }
                });
            }
            ;
});</script>
    <style>

        a.my-class {
            color: #ffffff;
            text-decoration: none;
        }

            a.my-class:active {
                color: white;
                text-decoration: none;
            }

            a.my-class:link {
                color: #ffffff;
                text-decoration: none;
            }

            a.my-class:visited {
                color: #ffffff;
                text-decoration: none;
            }
    </style>
</head>
<body>
    <div id="app">
        <div class="main-wrapper">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar">
                <form class="form-inline mr-auto">
                </form>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
                            <i class="ion ion-android-person d-lg-none"></i>
                            <div class="d-sm-none d-lg-inline-block">Benvenuto, @User.Identity.Name</div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <center><bold><i class="ion ion-android-person"></i>  @Html.ActionLink("Profilo", "Profilo", "Admin", new { id=User.Claims.ToList().ElementAt(0).Value},null)</bold></center>
                            <center><bold><i class="ion ion-log-out"></i>  @Html.ActionLink("Logout", "Logout", "Login")</bold></center>
                        </div>
                    </li>
                </ul>
            </nav>
            </div>
            <div class="main-content">
                <section class="section">
                    @RenderBody()

                </section>
        </div>

           <div class="row align-items-center justify-content-center">
               <div class="col4 text-center">
                   <button type="button" class="btn btn-primary btn-lg">
                       @Html.ActionLink("Torna alla Home", "Index","Admin")

                   </button>

               </div>

           </div>

        <footer class="main-footer">
            <div class="footer-left">
                Copyright © Alessandro Vaprio <div class="bullet"></div>
            </div>
        </footer>
    </div>
    </div>
    @*<script src="~/stisla_admin_v1.0.0//dist/modules/jquery.min.js"></script>*@
    <script src="~/stisla_admin_v1.0.0//dist/modules/popper.js"></script>
    <script src="~/stisla_admin_v1.0.0//dist/modules/tooltip.js"></script>
    <script src="~/stisla_admin_v1.0.0//dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/stisla_admin_v1.0.0//dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="~/stisla_admin_v1.0.0//dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="~/stisla_admin_v1.0.0//dist/js/sa-functions.js"></script>

    <script src="~/stisla_admin_v1.0.0//dist/modules/chart.min.js"></script>
    <script src="~/stisla_admin_v1.0.0//dist/modules/summernote/summernote-lite.js"></script>
    <script>
</script>
    <script src="~/stisla_admin_v1.0.0//dist/js/scripts.js"></script>
</body>
</html>