
@using Microsoft.AspNetCore.Mvc
@using LinqToDB;
@using LinqToDB.DataProvider.SQLite;
@model HeartHealthy.Models.ProfiloView
@{
    Layout = "_LayoutAdmin";
}
<h1 class="section-header">
    <div>Profilo</div>
</h1>
<div class="card card-sm-3">
    <div class=" card-header">
        <h3 class="align-items-center">
            Informazioni Utente
        </h3>
        <br />
    </div>
    <div class="card-body p-3">
        <table class="table border=0 table-hover">
            <thead>
                <img alt="image" src="~/stisla_admin_v1.0.0//dist/img/avatar/admin.jpeg" width="150">
            </thead>
            <tbody>
                <tr>
                    <th><h3><scope ="row">Nome </h3></th>
                    <td><h3>@Model.Nome</h3></td>
                </tr>
                <tr>
                    <th><h3><scope ="row">Cognome </h3></th>
                    <td><h3>@Model.Cognome</h3></td>
                </tr>
                <tr>
                    <th><h3><scope ="row">Email </h3></th>
                    <td><h3>@Model.Email</h3></td>
                </tr>
                <tr>
                    <th><h3><scope="row">Ruolo</h3></th>
                    <td><h3>@Model.Ruolo</h3></td>
            </tbody>
        </table>
        <div class="text-right">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#UpdateProfileModal">Modifica Profilo</button>
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#UpdatePasswordModal">Modifica Password</button>
        </div>
        <!--<button type="button" class="btn btn-primary btn-lg"> @Html.ActionLink("Modifica Informazioni", "UpdateProfilo", "Admin", new { id = Model.Id }, new { @class = "my-class" })</button>-->
        <!--<button type="button" class="btn btn-primary btn-lg">@Html.ActionLink("Reimposta Password", "UpdatePassword", "Admin", new { pass = Model.Password }, new { @class = "my-class" })</button>-->
    </div>
</div><!-- Modal -->
<div id="UpdateProfileModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div >
                <h4 class="modal-title" align="center">Modifica profilo</h4>
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>-->
            </div>
            <div>

                @using (Html.BeginForm("Update", "Admin", new { id = User.Claims.ToList().ElementAt(0).Value, pass = Model.Password, ruolo=Model.Ruolo } , FormMethod.Post))
                {
                //@Html.AntiForgeryToken()
                <div class="card card-sm-3 bg-light">
                    <div class="card-body bg-light">
                        <br />
                        <!--<form method="POST">-->
                            <table border="0">
                                <tr></tr>
                                <tr>
                                    <td> Nome Utente</td>
                                    <td><input id="nome" class="form-control" name="nome" value="@Model.Nome" required autofocus></td>
                                </tr>
                                <tr>
                                    <td> Cognome Utente</td>
                                    <td><input id="cognome" class="form-control" name="cognome" value="@Model.Cognome" required autofocus></td>
                                </tr>
                                <tr>
                                    <td> Email Utente</td>
                                    <td><input id="email" type="email" class="form-control" name="email" value="@Model.Email" required autofocus></td>
                                </tr>
                                <tr>
                                    <td> Ruolo Utente</td>
                                    <td><input readonly id="ruolo" type="text" class="form-control" name="ruolo" value="@Model.Ruolo" required autofocus></td>
                                </tr>
                                <tr>
                                    <td>
                                        <button type="submit" class="btn btn-primary btn-lg">
                                            Modifica
                                        </button>
                                    </td>
                                    
                                </tr>
                            </table>

                        <!--</form>-->
                        <br />
                    </div>
                </div>
                }

            </div>
            
        </div>
    </div>
</div>

<div id="UpdatePasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div>
                <h4 class="modal-title" align="center">Modifica password</h4>

                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>-->
            </div>
            <div>

                <script>
    function validateForm() {
        var curr = document.getElementById('current').value;
        var n = document.getElementById('new').value;
        var n2 = document.getElementById('new2').value;

        if (curr != "@Model.Password") {
            alert("Password corrente errata!");
            return false;
        }

        if (n2 != n) {
            alert("La conferma della nuova password non corrisponde!");
            return false;

        }
        return true;
    }
                </script>

                @using (Html.BeginForm("ChangePassword", "Admin", new { id = User.Claims.ToList().ElementAt(0).Value }, FormMethod.Post))
                {

                    @Html.AntiForgeryToken()
                    <div class="card card-sm-3 bg-light">
                        <div class="card-body bg-light">
                            <br />
                            
                                <table border="0">
                                    <tr></tr>
                                    <tr>
                                        <td> Password Corrente</td>
                                        <td><input type="password" value="" id="current" class="form-control" name="current" required data-eye></td>
                                    </tr>
                                    <tr>
                                        <td> Nuova Password</td>
                                        <td><input type="password" value="" id="new" class="form-control" name="new" required data-eye></td>
                                    </tr>
                                    <tr>
                                        <td> Conferma nuova Password</td>
                                        <td><input type="password" value="" id="new2" class="form-control" name="Password" required data-eye></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <button type="submit" class="btn btn-primary btn-lg" onclick="return validateForm();">
                                                Modifica
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            <br />
                        </div>
                    </div>

                }

            </div>

        </div>
    </div>
</div>